@use '../styles/config/variables'; 

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;

    color: variables.$textColorPrimary;
    background-color: #6ab04c;
    
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    
    transition: all 0.1s ease;

    &:hover {
        background-color: red;
    }

    @media (max-width: 767px) {
        display: block;
        width: 100%;
    }
}